<div class="modal hide fade in" id="alert_modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3 id="offerDataFormModal_title">You're almost done</h3>
  </div>
  <div class="modal-body">
    <p>You created this offer here on {{SITE_NAME}}, but the guys working on <a href="{{offer.issue.project.homeURL}}" target="_project">{{offer.issue.project.name}}</a> don't know about it yet.</p>
    <p>The best way to let them know is to post a comment on the <a href="{{offer.issue.trackerURL}}" target="_issue">original issue</a>.<br>
      Go ahead and copy the text below if you like:
    </p>
    <div class="alert alert-info">
      <p>
          I care about getting this fixed, so I'm offering {{myoffer.currency}} {{myoffer.price}} to the first person to fix it. <br> <br>

          If you're not able to fix this yourself but you care about it too, throw in a few bucks with me and we'll get it fixed faster :) <br> <br>

          The offer is made at {{SITE_HOME}}{{offer.issue.get_view_link}} so if you fix this issue (according to the acceptance criteria described there) please use that site to request your payment.
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" data-dismiss="modal">OK</a>
  </div>
</div>

<script>
  $(function(){
    $('#alert_modal').modal()
  });
</script>
