<div class="modal fade in" id="alert_modal">
    <div class="modal-dialog column-wrapper vertical">
        <div class="column fit"></div>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="$('#alert_modal').modal('hide')">&times;</button>
                <span class="modal-title font-size-20 ubahn grey-text">You've placed your bounty. Now tell the world about it.</span>
            </div>
            <div class="divider small"></div>
            <div class="modal-body">
                <p class="font-size-14 text-align-centered">
                    Encourage more people to join you as a sponsor. <span class="orange-text">Share on:</span>
                </p>
				<div class="vgap-15"><!-- Vertical Gap 15px --></div>
				<div class="text-align-center">
					<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{SITE_HOME}}{{ issue.get_view_link }}" class="social-button facebook" style="width:60px;height:60px;"></a>
					<div class="hgap-5 inline"><!-- Horizontal Gap 5px --></div>
					<a target="_blank" href="https://twitter.com/intent/tweet?url={{SITE_HOME}}{{ issue.get_view_link }}&text=I just placed a bounty for a Free Software issue on {{SITE_NAME}}." class="social-button twitter" style="width:60px;height:60px;"></a>
					<div class="hgap-5 inline"><!-- Horizontal Gap 5px --></div>
					<a target="_blank" href="https://plus.google.com/share?url={{SITE_HOME}}{{ issue.get_view_link }}" class="social-button google" style="width:60px;height:60px;"></a>
				</div>
                <div class="vgap-30"><!-- Vertical Gap 30px --></div>
                <p class="font-size-14">
                    Tell <a href="{{issue.project.homeURL}}" target="_project">{{issue.project.name}}</a>'s developers about your sponsorship. The best way to do that is to leave a comment on the
                    <a href="{{issue.trackerURL}}" target="_issue">original issue</a>.
                </p>
                <div class="vgap-5"><!-- Vertical Gap 5px --></div>
                <div class="alert alert-info">
                    <textarea class="grey-text font-size-11" spellcheck="false" style="height:133px;line-height: 12px;">I care about getting this fixed, so I'm offering {{myoffer.currency}} {{myoffer.price}} via {{SITE_NAME}} to the first person who fix it.

Offer link: {{SITE_HOME}}{{issue.get_view_link}}

You can also join me and throw in a few bucks there and we'll get it fixed faster :)
					
If you fix this issue (see my acceptance criteria there) please use that site to request your payment.


                            </textarea>
							<p class="text-align-right"><a href="">Copy text and open original issue</a></p>
                </div>
            </div>
            <div class="modal-footer inline-content">
				<div class="column-wrapper vcenter-content" style="height:28px;">
					<div class="hgap-15 inline"><!-- Horizontal Gap 15px --></div>
					<div><a href="#" onclick="$('#alert_modal').modal('hide')" class="fs-button green medium">OK</a></div>
				</div>
            </div>
        </div>
        <div class="column fit"></div>
    </div>
</div>

<script>
  $(function(){
    $('#alert_modal').modal()
  });
</script>
