#bootstrap-content .carousel .item > .carousel-content{
    display: block;
    line-height: 1;
}

#bootstrap-content .carousel-content{
    background-color: blue;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}


/* For responsive videos  https://avexdesigns.com/responsive-youtube-embed/ */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* I frame that block iframe videos */
.video-container .iframeBlocker {
    background-color: aliceblue;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    opacity: 0.30;

}

/* DIFF AND REVISIONS */
/* Revision list */
.revisionlist{
    margin-top:10px;
}
.revisionlist ul {
    width:100%;
}
.revisionlist > ul > li {
    background: #f8f9fa;
    margin: 1px;
    padding: 4px;
}
.revisionlist > ul > li:nth-child(odd) { background: #ddd; }
