{% extends "core2/base_old.html" %}

{% block mainContent%}
<h2> Propose issue </h2>
<hr>

<script src="/static/bootstrap/js/jquery.numeric.js"></script>

<div class="modal hide fade in" id="issueExistsModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Issue Exists</h3>
  </div>
  <div class="modal-body">
    <p>Someone already registered an offer for that issue.</p>
  </div>
  <div class="modal-footer">
    <a href="javascript:vaiPraIssue()" class="btn btn-primary">Check it out!</a>
  </div>
</div>


<div id="div_step1_r" class="alert alert-info hide">
  <div id="span_offer_for">Creating offer for: blabla</div>
</div>
<div id="div_step2_r" class="alert alert-info hide">
  <div id="span_issue">issue: blabla</div>
</div>
<div id="div_step3_r" class="alert alert-info hide">
  <div id="span_project">Adding issue on project: PROJETO</div>
</div>


<form method="post" id="form_addIssue" class="form-horizontal" action="/issue/add/submit">
{% csrf_token %}
  <fieldset>

    <!-- tracker URL -->
    <div id="div_step1_w" class="control-group">
      <div id="div_trackerURL">
        <label class="control-label" for="trackerURL">Original issue URL</label>
        <div class="controls">
            <input type="text" class="input-xlarge span8" id="trackerURL" name="trackerURL" value="{{trackerURL}}" placeholder="Paste URL here">
        </div>
      </div>
      <div id="div_noProject">
        <label class="control-label" for="noProject">Or...</label>
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox" id="noProject" name="noProject" value="noProject">
            Check if you want to create a personal request, unrelated to any open source project.
          </label>
        </div>
      </div>
      <div class="span9">
        <div class="btn-toolbar pull-right" >
          <div class="btn-group">
            <button id="btnKickstart1" class="btn btn-primary"> 
              Propose &gt;&gt; 
              <i class="icon-question-sign icon-white popopo_stay" rel="popover" data-content="Create an issue without an offer, just to draw everyone's attention to it. See more in <a href='http://blog.freedomsponsors.org/kickstarting-issues/'>the blog</a>!" data-original-title="What's this?"></i>
            </button>
          </div>
          <div class="btn-group">
            <button id="btnNext1" class="btn btn-primary ">Sponsor &gt;&gt;</button>
          </div>
        </div>
      </div>
    </div>

    <div id="div_step2_w" class="control-group hide">
      <div id="div_issue_fill_gaps" class="alert">
        It was not possible to determine all issue atributes from its URL. 
        Please fill the gaps.
      </div>
      <div id="div_key" class="control-group">
        <!-- issue key -->
        <label class="control-label" for="title">Issue Key</label>
        <div class="controls">
          <input type="text" id="key" name="key" value="{{key}}" placeholder="Paste issue key here">
        </div>
      </div>
      <div class="control-group">
        <!-- issue title -->
        <label class="control-label" for="title">Issue Title</label>
        <div class="controls">
          <input type="text" class="input-xlarge span8" id="title" name="title" value="{{title}}" placeholder="Paste issue title here">
        </div>
      </div>
      <div id="div_description" class="control-group">
        <!-- issue description -->
        <label class="control-label" for="description">Description</label>
        <div class="controls">
          <textarea class="input-xlarge span9" id="description" name="description" rows="10">{{description}}</textarea>
        </div>
      </div>
      <div class="span9">
        <button id="btnPrevious2" class="btn btn-primary pull-left">&lt;&lt; Previous</button>
        <button id="btnNext2" class="btn btn-primary pull-right">Next &gt;&gt;</button>
      </div>
    </div>

    <div id="div_step3_w" class="hide">
      <div id="div_project_fill_gaps" class="alert">
        It's the first time this project is being sponsored, so we need a little more info about it.
      </div>
      <!-- issue project -->
      <div id="div_project">
        <div class="control-group">
          <div id="div_project_typeahed">
            <label class="control-label" for="project_name">Project</label>
            <div class="controls">
              {% include 'core2/include/generic_typeahead.html' with placeholder="Search project by name" ajaxpath="/core/json/project?query=" name="project_" hval=project_id tval=project_name %}
            </div>
          </div>
          <div id="div_createProject">
            <label class="control-label" for="createProject">Or...</label>
            <div class="controls">
              <label class="checkbox">
                <input type="checkbox" id="createProject" name="createProject" value="createProject">
                Create new project
              </label>
            </div>
          </div>
        </div>
      </div>

      <!-- new project data -->
      <div class="well control-group span10" style="display:none" id="div_newProject">

        <!-- new project name -->
        <div class="control-group">
          <label class="control-label" for="newProjectName">Project name</label>
          <div class="controls">
            <input type="text" class="input-xlarge" id="newProjectName" name="newProjectName" value="{{newProjectName}}">
          </div>
        </div>

        <!-- new project home site URL -->
        <div class="control-group">
          <label class="control-label" for="newProjectHomeURL">Project web site</label>
          <div class="controls">
            <input type="text" class="input-xlarge span8" id="newProjectHomeURL" name="newProjectHomeURL" value="{{newProjectHomeURL}}" placeholder="Paste web site URL here">
          </div>
        </div>

        <!-- new project issue tracker URL -->
        <div class="control-group">
          <label class="control-label" for="newProjectTrackerURL">Project issue tracker URL</label>
          <div class="controls">
            <input type="text" class="input-xlarge span8" id="newProjectTrackerURL" name="newProjectTrackerURL" value="{{newProjectTrackerURL}}" placeholder="Paste issue tracker URL here">
          </div>
        </div>
      </div>
      <div class="control-group">
        <div class="span9">
          <button id="btnPrevious3" class="btn btn-primary pull-left">&lt;&lt; Previous</button>
          <button id="btnNext3" class="btn btn-primary pull-right">Next &gt;&gt;</button>
        </div>
      </div>
    </div>

    <div id="div_step4_w" class="hide">

      <div id="div_offer_form_fields">
      {% include 'core2/include/offer_form_fields.html' %}
      </div>
      <div id="div_kickstart_message">
        <h3>You're about to "propose" an issue.</h3>
        This is like placing a $0 offer on it. It will be added to the issue list page, and people will be able to place real offers on it.
        <br><br>
      </div>

      <div class="control-group">
        <div class="span9">
          <button id="btnPrevious4" class="btn btn-primary pull-left">&lt;&lt; Previous</button>
          <button id="btnSubmitOffer" class="btn btn-primary pull-right">Make offer!</button>
          <button id="btnSubmitKickstart" class="btn btn-primary pull-right">Propose issue!</button>        
        </div>
      </div>
    </div>
  </fieldset>
</form>
<script>

  $(function(){

    var $issueExistsModal = $('#issueExistsModal');
    var $div_step1_r = $('#div_step1_r');
    var $div_step2_r = $('#div_step2_r');
    var $div_step3_r = $('#div_step3_r');
    var $div_step1_w = $('#div_step1_w');
    var $div_step2_w = $('#div_step2_w');
    var $div_step3_w = $('#div_step3_w');
    var $div_step4_w = $('#div_step4_w');
    var $div_description = $('#div_description');
    var $div_trackerURL = $('#div_trackerURL');
    var $div_issue_fill_gaps = $('#div_issue_fill_gaps');
    var $div_project_fill_gaps = $('#div_project_fill_gaps');
    var $key = $('#key');
    var $div_key = $('#div_key');
    var $title = $('#title');
    var $description = $('#description');
    var $trackerURL = $('#trackerURL');
    var _trackerURL = document.getElementById('trackerURL');
    var $btnNext1 = $('#btnNext1');
    var $btnNext2 = $('#btnNext2');
    var $btnNext3 = $('#btnNext3');
    var $btnKickstart1 = $('#btnKickstart1');
    var $btnSubmitKickstart = $('#btnSubmitKickstart');
    var $btnSubmitOffer = $('#btnSubmitOffer')
    var _btnNext1 = document.getElementById('btnNext1');
    var _btnNext2 = document.getElementById('btnNext2');
    var _btnNext3 = document.getElementById('btnNext3');
    var _btnKickstart1 = document.getElementById('btnKickstart1');
    var _btnSubmitKickstart = document.getElementById('btnSubmitKickstart');
    var _btnSubmitOffer = document.getElementById('btnSubmitOffer');
    var _form_addIssue = document.getElementById('form_addIssue');
    var $btnPrevious2 = $('#btnPrevious2');
    var $btnPrevious3 = $('#btnPrevious3');
    var $btnPrevious4 = $('#btnPrevious4');
    var _btnPrevious2 = document.getElementById('btnPrevious2');
    var _btnPrevious3 = document.getElementById('btnPrevious3');
    var _btnPrevious4 = document.getElementById('btnPrevious4');
    var _span_offer_for = document.getElementById('span_offer_for');
    var _span_issue = document.getElementById('span_issue');
    var _span_project = document.getElementById('span_project');
    var $div_offerData = $('#div_offerData');
    var $div_offer_form_fields = $('#div_offer_form_fields');
    var $div_kickstart_message = $('#div_kickstart_message');
    var $div_project = $('#div_project');
    var $div_project_typeahed = $('#div_project_typeahed');
    var $project_id = $('#project_id');
    var $project_name = $('#project_name');
    var $div_noProject = $('#div_noProject');
    var $noProject = $('#noProject');
    var $div_createProject = $('#div_createProject');
    var $createProject = $('#createProject');
    var $div_newProject = $('#div_newProject');
    var $newProjectName = $('#newProjectName');
    var $newProjectHomeURL = $('#newProjectHomeURL');
    var $newProjectTrackerURL = $('#newProjectTrackerURL');
    var $price = $('#price');
    var $acceptanceCriteria = $('#acceptanceCriteria');

    stage = {
      steps : [1] ,
      stepIndex : 0,
      issueAvulsa : false,
      existing_issue_id : null,
      preloaded_trackerURL : '{{trackerURL}}',
      preloaded_operation : '{{operation}}',

      has_project_id : function(){
        return !!this.issueInfo.project_id;
      },

      must_complete_project : function(){
        var info = this.issueInfo;
        return this.has_project_id() && !(info.project_name && info.project_homeURL && info.project_trackerURL);
      },

    };

    var setVisibleSliding = function($div, visible){
      if(visible){
        $div.slideDown();
      } else {
        $div.slideUp();
      }
    };

    var setVisibleHiding = function($div, visible){
      if(visible){
        $div.removeClass("hide");
      } else {
        $div.addClass("hide");
      }
    };

    var setEnabled = function($input, enabled){
      if(enabled){
        $input.removeAttr('disabled');
      } else {
        $input.attr('disabled', true);
      }
    };

    var advanceStep1 = function(){
      if(stage.issueAvulsa){
        _span_offer_for.innerHTML = 'Creating offer unrelated to any open source project';
      } else {
        _span_offer_for.innerHTML = 'Creating offer for: '+$trackerURL.val();
      }
    };

    var advanceStep2 = function(){
      if(stage.issueAvulsa){
        _span_issue.innerHTML = 'issue: '+$title.val();
      } else {
        _span_issue.innerHTML = 'issue: '+$key.val()+" - "+$title.val();
      }
    };

    var advanceStep3 = function(){
      if(!stage.issueAvulsa){
        var createProject_isSelected = $('#createProject:checked').val() != undefined;
        var creating_project = createProject_isSelected && !stage.has_project_id();
        if(creating_project){
          _span_project.innerHTML = 'creating project: '+$newProjectName.val();
        } else {
          _span_project.innerHTML = 'Adding issue to project: '+$project_name.val();
        }
      }
    };

    var advanceStep = function(step){
      if(step == 1){
        advanceStep1();
      } else if (step == 2){
        advanceStep2();
      } else if (step == 3){
        advanceStep3();
      } else {
        alert('error: no such step to advance: '+step);
      }
    };

    var stepForward = function(){
      var step = stage.steps[stage.stepIndex]
      var endstep = stage.steps[stage.stepIndex+1]
      while(step < endstep){
        advanceStep(step);
        step++;
      }
      stage.stepIndex++;
      updateStage();
    };

    var stepBack = function(){
      stage.stepIndex--;
      updateStage();
    };

    var updateStage = function(){
      var step = stage.steps[stage.stepIndex];
      setVisibleSliding($div_step1_r, step>=2);
      setVisibleSliding($div_step2_r, step>=3);
      setVisibleSliding($div_step3_r, step>=4 && !stage.issueAvulsa);
      setVisibleSliding($div_step1_w, step==1);
      setVisibleSliding($div_step2_w, step==2);
      setVisibleSliding($div_step3_w, step==3);
      setVisibleSliding($div_step4_w, step==4);
    };

    var promptUserIfIssueExists = function(issue){
      var exists = issue && issue.id
      if(exists){
        stage.existing_issue_id = issue.id;
        $issueExistsModal.modal();
      }
      return exists;
    };

    var prepareStage = function(){
      var issueInfo = stage.issueInfo;
      var avulsa = stage.issueAvulsa;
      var showStep2 = avulsa || (!issueInfo.key || !issueInfo.issue_title)
      var showStep3 = !avulsa && (!stage.has_project_id() || stage.must_complete_project())
      var showStep4 = true;
      var kickstarting = stage.operation == 'KICKSTART'

      if(!avulsa){
        $key.val(issueInfo.key);
        $title.val(issueInfo.issue_title);
        $description.val(issueInfo.description);
        $project_id.val(issueInfo.project_id);
        $project_name.val(issueInfo.project_name);
        $newProjectName.val(issueInfo.project_name);
        $newProjectHomeURL.val(issueInfo.project_homeURL);
        $newProjectTrackerURL.val(issueInfo.project_trackerURL);
      }

      if(showStep2) {
        stage.steps.push(2)
        setVisibleHiding($div_issue_fill_gaps, !avulsa);
        if(!avulsa && issueInfo.error){
          document.getElementById('div_issue_fill_gaps').innerHTML = 'It was not possible to determine all issue atributes from its URL. Would you be so kind to fill the gaps? <br> ('+issueInfo.error+')';
        }
        // setEnabled($key, !avulsa && !issueInfo.key);
        // setEnabled($title, avulsa || !issueInfo.issue_title);
        setVisibleHiding($div_key, !avulsa);
        //setVisibleHiding($div_description, avulsa);
      }

      if(showStep3) {
        stage.steps.push(3);
        var project_exists = !!issueInfo.project_id;
        setVisibleHiding($div_project_fill_gaps, project_exists);
        setVisibleHiding($div_project_typeahed, !project_exists);
        setVisibleHiding($div_createProject, !project_exists);
        setVisibleSliding($div_newProject, stage.must_complete_project());
        // setEnabled($newProjectName, !issueInfo.project_name);
        // setEnabled($newProjectHomeURL, !issueInfo.project_homeURL);
        // setEnabled($newProjectTrackerURL, !issueInfo.project_trackerURL);
      }

      if(showStep4){
        stage.steps.push(4);
        setVisibleHiding($('#no_forking_label'), !avulsa);
        setVisibleHiding($('#require_release_label'), !avulsa);
        if (kickstarting){
          _form_addIssue.action = '/issue/kickstart/submit';
        } else {
          _form_addIssue.action = '/issue/add/submit';
        }
        setVisibleHiding($btnSubmitOffer, !kickstarting);
        setVisibleHiding($div_offer_form_fields, !kickstarting);
        setVisibleHiding($div_kickstart_message, kickstarting);
        setVisibleHiding($btnSubmitKickstart, kickstarting);
      }
    };

    var prepareStageForIssueAvulsa = function(){
      stage.issueAvulsa = true;
      stage.stepIndex = 0;
      stage.steps = [1];
      prepareStage();
    };

    /**
     * issueInfo: {project_name, issue_title, project_homeURL, error, tracker, key, project_trackerURL, project_id}
     */
    var prepareStageForActualIssue = function(issueInfo){
      stage.issueInfo = issueInfo;
      stage.issueAvulsa = false;
      stage.stepIndex = 0;
      stage.steps = [1];

      prepareStage();
    };

    var processJsonResponse = function(result){
      if(result.urlValidationError){
        alert('invalid url: ('+result.urlValidationError+')');
        return false;
      }
      var exists = promptUserIfIssueExists(result.issue);
      if(!exists){
        prepareStageForActualIssue(result.issueInfo);
        stepForward();
      }
    };

    var next1_onclick = function(){
      stage.operation = 'SPONSOR';
      next1();
      return false;
    }
    var kickstart1_onclick = function(){
      stage.operation = 'KICKSTART';
      next1();
      return false;
    }
    var next1 = function(){
      stage.issueAvulsa = $('#noProject:checked').val() != undefined;
      if(stage.issueAvulsa){
        prepareStageForIssueAvulsa();
        stepForward();
      } else {
        var urlVal = $trackerURL.val();
        if(!urlVal){
          alert('Type the issue URL and click Next');
          return false;
        } else if (!urlVal.startsWith('http://') && !urlVal.startsWith('https://')){
          alert('URL must start with "http://" or "https://"');
          return false;
        }
        $("body").addClass("loading");
        $.ajax({
          url: '/core/json/by_issue_url?trackerURL='+urlVal,
          dataType: 'JSON',
          async: true,
          success: function(data){
            processJsonResponse(data);
            $("body").removeClass("loading");
            return false;
          },
          error: function(a,b,c){
            $("body").removeClass("loading");
            alert(a+' '+b+' '+c);
          }
        });
      }
      return false;
    };

    var prev2_onclick = function(){
      stepBack();
      return false;
    };

    var next2_onclick = function(){
      if(stage.issueAvulsa){
        if(!$title.val() || !$description.val()){
          alert('Please fill in all fields');
          return false;
        }
      } else {
        if(!$title.val() || !$key.val()){
          alert('Please fill in all fields');
          return false;
        }
      }
      stepForward();
      return false;
    };

    var prev3_onclick = function(){
      stepBack();
      return false;
    };

    var prev4_onclick = function(){
      stepBack();
      return false;
    };

    var validateStep3 = function(){
      var createProject_isSelected = $('#createProject:checked').val() != undefined;
      var creating_project = createProject_isSelected && !stage.has_project_id();
      var newProjectAttributeIsMissing = !$newProjectName.val() || !$newProjectHomeURL.val() || !$newProjectTrackerURL.val();
      if(creating_project || stage.must_complete_project()){
        if(newProjectAttributeIsMissing){
          alert('All attributes are required for new project');
          return false;
        }
        var url = $newProjectHomeURL.val();
        if (!url.startsWith('http://') && !url.startsWith('https://')){
          alert('URL must start with "http://" or "https://"');
          return false;
        }
        url = $newProjectTrackerURL.val();
        if (!url.startsWith('http://') && !url.startsWith('https://')){
          alert('URL must start with "http://" or "https://"');
          return false;
        }
      } else {
        if(!$project_name.val()){
          alert('Either find a project or create a new one!');
          return false;
        } else if (!$project_id.val()){
          alert('Project '+$project_name.val()+' is not registered.\nPlease check "Create new project" and provide additional project details');
          return false;
        }
      }
      return true;      
    }

    var next3_onclick = function(){
      if(validateStep3()){
        stepForward();
      }
      return false;
    };

    var submit_kickstart_onclick = function(){
      if(validateStep3()){
        _form_addIssue.submit()
      }
      return false;
    }

    var submit_click = function(){
      return validateOffer(); //validateOffer is defined in offer_form_fields.html
    };


    var trackerURL_oninput = function(){
      var urlVal = $trackerURL.val();
      if(urlVal){
        $div_noProject.slideUp();
      } else {
        $div_noProject.slideDown();
      }
    };

    var noProject_onchange = function(){
      stage.issueAvulsa = $('#noProject:checked').val() != undefined;
      if(stage.issueAvulsa){
        $div_trackerURL.slideUp();
      } else {
        $div_trackerURL.slideDown();
      }
    };

    var createProject_onchange = function(){
      var isSelected = $('#createProject:checked').val() != undefined;
      if(isSelected){
        $div_project_typeahed.slideUp();
        $div_newProject.slideDown();
      } else {
        $div_project_typeahed.slideDown();
        $div_newProject.slideUp();
      }
    };

    $(".positive").numeric({ negative: false }, function() { alert("No negative values"); this.value = ""; this.focus(); });
    $(".positive-integer").numeric({ decimal: false, negative: false }, function() { alert("Positive integers only"); this.value = ""; this.focus(); });
    _trackerURL.oninput = trackerURL_oninput;
    
    _trackerURL.onkeypress = function(event){
      if(event.keyCode == 13){
        next1_onclick();
      }
      return event.keyCode != 13;
    }; //desabilita o ENTER

    $noProject.change(noProject_onchange);
    $createProject.change(createProject_onchange);
    _btnNext1.onclick = next1_onclick;
    _btnKickstart1.onclick = kickstart1_onclick;
    _btnNext2.onclick = next2_onclick;
    _btnNext3.onclick = next3_onclick;
    _btnSubmitKickstart.onclick = submit_kickstart_onclick
    _btnPrevious2.onclick = prev2_onclick;
    _btnPrevious3.onclick = prev3_onclick;
    _btnPrevious4.onclick = prev4_onclick;
    _btnSubmitOffer.onclick = submit_click;

    // $("body").on({
    //   ajaxStart: function() { 
    //       $(this).addClass("loading"); 
    //   },
    //   ajaxStop: function() { 
    //       $(this).removeClass("loading"); 
    //   }    
    // });

    if(stage.preloaded_trackerURL){
      $trackerURL.val(stage.preloaded_trackerURL);
      if(stage.preloaded_operation){
        if(stage.preloaded_operation == 'SPONSOR'){
          next1_onclick();
        } else if(stage.preloaded_operation == 'KICKSTART'){
          kickstart1_onclick();
        }
      }
    }
  });


function vaiPraIssue(){
  window.location = '/issue/'+stage.existing_issue_id;
}

</script>

{% endblock mainContent %}
