{% load markdown %}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Comment's previous versions</h3>
</div>
<div class="modal-body">
    <a href="{{comment.author.get_view_link}}"><img src="{{comment.author.gravatar_url_medium}}"> {{ comment.author.username }}</a>
    {% for event in comment_events %}
        <hr>
        <div><span class="label label-info">{{ event.eventDate|date:"D, d/M/Y H:i" }}</span></div>
        {% autoescape off %}
        <div><markdown-text text="{{ event.content }}"></markdown-text></div>
        {% endautoescape %}
    {% endfor %}
</div>
<div class="modal-footer">
    <a href="#" class="btn btn-primary" data-dismiss="modal">OK</a>
</div>
