{% extends "core2/base.html" %}

{% block og_meta %}
{% endblock og_meta %}

{% block title %}
    History of {{ title }}
{% endblock %}

{% block head %}
    <script>
        if(!window.FS){
            window.FS = {};
        }
        FS.dependencies = ['angularutils'];
    </script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/angular-sanitize.min.js"></script>
    <script src="/static/js-generated/fs.js"></script>
    <script src="/static/bootstrap/js/markdown-it.min.js"></script>
    <script src="/static/bootstrap/js/markdown-it-task-lists.min.js"></script>
    <script src="/static/js/markdown-it-djangology-flavoured.js"></script>
    <script type="text/javascript">

        function HistoryCtrl($scope) {
            
        };


    </script>
{% endblock %}

{% block mainContent%}

    <div ng-app="fs" ng-controller="HistoryCtrl">
        <div class="content" align="center">
        <div class="content-section" align="left">

        <div class="column-wrapper">
            <div class="column fit">
                <!-- Revisions history -->
                {% if object.getHistEvents %}
                    {% with actual=object %}
                    <div>
                    {% include 'core2/include/history_list.html' %}
                    {% endwith %}
                    </div>
                {% endif %}
            </div>
            <div class="hgap-15"><!-- Horizontal Gap 15px --></div>

            <!-- Solution Overview -->
            <div class="column medium issue-overview">
                <h3 class="boxed">Overview</h3>
                <!-- Solution Creator -->
                <div class="fs-box issue-creator">
                    <div class="column-wrapper">
                        <!-- Creator Picture-->
                        <div class="user-picture"><img src="{{object.createdByUser.gravatar_url_medium}}"></div>
                        <div class="hgap-15"><!-- Horizotal Gap 15px --></div>
                        <!-- Creator Name-->
                        <div class="column fit">
                            <h5 class="arial">Created by</h5>
                            <a href="{{ object.createdByUser.get_view_link }}" class="arial font-size-11">{{ object.createdByUser.username }}</a>
                        </div>
                    </div>
                </div>

                <!-- Issue associated -->
                <div class="fs-box issue-creator">
                    <div class="column-wrapper">
                        <!-- Creator Name-->
                        <div class="column fit">
                            <h5 class="arial">Related</h5>
                            <a href="{{ object.getUrl }}" class="arial font-size-11">{{ object.title }}</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        </div>
        </div>
    </div>

{% endblock %}