{% extends "core2/base_old.html" %}

{% block head %}
    <script>
        if(!window.FS){
            window.FS = {};
        }
        FS.dependencies = ['angularutils'];
    </script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/angular-sanitize.min.js"></script>
    <script src="/static/js-generated/fs.js"></script>
{% endblock %}

{% block mainContent%}
<div ng-app="fs">
    <form method="get" action="/search/" id="search_form">
      <input type="hidden" name="sortby" id="sortby" value="{{ sortby }}">
      <input type="hidden" name="asc" id="asc" value="{{ asc }}">

      <div class="well">
        <div class="row">
          <div class="span4" style="margin-left:20px">
            <input type="text" class="search-query" style="width:100%" name="s" value="{{s|default:''}}" placeholder="Search terms">
          </div>
          <div class="span3" style="">
            {% include 'core2/include/generic_typeahead.html' with placeholder="Filter By Project" ajaxpath="/core/json/project" name="project_" hval=project_id tval=project_name tclass="search-query span12" %}
          </div>
        </div>
        <div class="row" style="margin-top:10px;">
          <div class="span4" style="margin-left:20px">
            <label for="tag_filter" style="font-weight: bold;">Filter by Tags:</label>
            <input
                type="text"
                id="tag_filter"
                name="tag"
                class="form-control"
                value="{{ tag|default:'' }}"
                placeholder="Enter one or more tags, separated by commas."
            />
          </div>
        </div>
        <div class="row" style="margin-top:10px;">
          <div class="span1 form-inline" style="margin-left:20px;width:95px">
            <input type="radio" id="rad_sponsoring" name="operation" value="SPONSOR" style="margin-bottom:6px"
              {% ifequal operation 'SPONSOR'%}
              checked
              {% endifequal %}
            >
            <label for="rad_sponsoring">Sponsoring</label>
          </div>
          <div class="span1 form-inline" style="width:95px">
            <input type="radio" id="rad_kickstarting" name="operation" value="KICKSTART" style="margin-bottom:6px"
              {% ifequal operation 'KICKSTART'%}
              checked
              {% endifequal %}
            >
            <label for="rad_kickstarting">Kickstarting</label>
          </div>
          <div class="span1 form-inline" style="">
            <input type="radio" id="rad_both" name="operation" value="BOTH" style="margin-bottom:6px"
              {% ifequal operation 'BOTH'%}
              checked
              {% endifequal %}
            >
            <label for="rad_both">Both</label>
          </div>
          <div class="span1" style="">
            <input type="submit" style="width:100px" value="Search">
          </div>
          <div class="span1"> </div>
          <div class="span1" style="">
            <a href="#" onclick="javascript:submit_rss()"><img src="/static/img/rss_icon.gif"></a>
            <script>
              function submit_rss(){
                form = document.getElementById('search_form')
                form.action = '/issue/rss'
                form.submit()
              }
            </script>

          </div>
        </div>
      </div>
    </form>

    <hr>
    {% if issues %}
      {% include 'core2/include/issue_grid.html' %}
    {% else %}
        <p>No issues found</p>
    {% endif %}


</div>
{% endblock mainContent %}
