{% extends "core2/newbase.html" %}
{% load i18n %}
{% load l10n %}

{% block mainContent%}
<script type="text/javascript">
  $(function(){
    $('.showFormBtn').click(function(){
      $(this).hide();
      $(this).prev('.page_form').slideDown()
    });
    $('.cancelForm').click(function(){
      $(this).parents('.page_form').slideUp();
      $(this).parents('.page_form').next('.showFormBtn').show();
    })
  })
</script>
<style type="text/css">
  .issue_section{
    margin-top:40px
  }
  .issue_info{
    padding:0px;
    border:1px solid #fff8f8
  }
  .issue_info{
    display:flex;
  }
  .issue_item{
    padding:4px;
    margin-right:20px
  }
  .content_left{
    flex:3
  }
  .content_right{
    flex:1;
    #text-align:right
  }
  .page_form{
    display:none
  }
</style>
  <div class="row" style="">
    <div style="max-width:1100px;margin:0 auto">
      <div style="padding-top:30px">
        <div>
          <img src="{{issue.createdByUser.gravatar_url_medium}}">
            {% if issue.project_id %}
            <a href="{{ issue.project.get_view_link }}">{{issue.project.name}}</a> {% trans "Project" %}
            {% else %}
            <a href="javascript:;">{% trans "Add idea to a project" %}</a>
            {% endif %}
        </div>
        <h1>{{issue.title}}</h1>
        <div class="issue_info">
          <div class="issue_item">
          {% trans "Created by:" %}
          <!--<img src="{{issue.createdByUser.gravatar_url_medium}}">-->
          <a href="{{ issue.createdByUser.get_view_link }}" class="arial font-size-11">{{ issue.createdByUser.username }}</a>
          </div>
          <div class="issue_item">

          </div>
        </div>
        <div class="well" style="">{{issue.description}}</div>
      </div>

      <!--proposals-->
      <div class="issue_section" style="">
        <div style="border-bottom:1px solid #ccc;display:flex;justify-content:space-between">
          <h3>{% trans "Media" %}</h3>
        </div>
        <div class="flex_sb">
          <div class="content_left">{% include 'core2/include/issue_new_media.html' %}</div>
          <div class="p10 content_right">
            <div>{% include 'core2/include/issue_new_media_form.html' %}</div>
            <button type="button" class="btn btn-info">{% trans "Add media" %}</button>
          </div>
        </div>
      </div>


      <!--proposals-->
      <div class="issue_section" style="">
        <div style="border-bottom:1px solid #ccc;display:flex;justify-content:space-between">
          <h3>{% trans "Proposals" %}</h3>
        </div>
        <div class="flex_sb">
          <div class="content_left" style="flex:3">{% include 'core2/include/issue_new_solutions.html' %}</div>
          <div class="p10 content_right" style="flex:2">
            <div class="page_form">{% include 'core2/include/issue_new_solution_form.html' %}</div>
            <button class="btn btn-info showFormBtn" type="button">{% trans "Propose another solution" %}</button>
          </div>
        </div>
      </div>

      <!--sponsors-->
      <div class="issue_section" style="">
        <div style="border-bottom:1px solid #ccc;display:flex;justify-content:space-between">
          <h3>{% trans "Sponsors" %}</h3>
        </div>
        <div class="flex_sb">
          <div class="content_left">{% include 'core2/include/issue_new_sponsors.html' %}</div>
          <div class="p10 content_right">
            <button type="button" class="btn btn-info">{% trans "Sponsor this!" %}</button>
          </div>
        </div>
      </div>

      <!--developer-->
      <div class="issue_section" style="">
        <div style="border-bottom:1px solid #ccc;display:flex;justify-content:space-between">
          <h3>{% trans "Developers" %}</h3>
        </div>
        <div class="flex_sb">
          <div class="content_left">{% include 'core2/include/issue_new_developers.html' %}</div>
          <div class="p10 content_right">
            <button type="button" class="btn btn-info">{% trans "Work on this issue" %}</button>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock mainContent%}
