{% extends "core2/base_old.html" %}
{% load i18n %}


{% block mainContent%}

    <p>All Javascript code used in this website is Free Software.<br>
    The table below displays script files, their sources and licenses, where it's not available in the script files themselves.</br>
    If you find any broken links, please report it to al@blogmail.cc</p>

    <table class="table table-striped table-condensed" id="jslicense-labels1">
        <tr>
            <th> Script </th>
            <th> License </th>
            <th> Source </th>
        </tr>
        <tr>
            <td> <a href="/static/bootstrap3/js/bootstrap.min.js">bootstrap.min.js</a> </td>
            <td> <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a> </td>
            <td> <a href="/static/bootstrap3/js/bootstrap.js">Bootstrap 3.0.0</a> </td>
        </tr>
        <tr>
            <td> <a href="/static/bootstrap/js/bootstrap-typeahead.js">bootstrap-typeahead.js</a> </td>
            <td> <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a> </td>
            <td> <a href="/static/bootstrap/js/bootstrap-typeahead.js">bootstrap-typeahead.js v2.0.0</a> </td>
        </tr>
        <tr>
            <td> <a href="/static/bootstrap/js/jquery.maskedinput-1.3.min.js">jquery.maskedinput-1.3.min.js</a> </td>
            <td> <a href="http://www.jclark.com/xml/copying.txt">Expat</a> </td>
            <td> <a href="https://raw.github.com/digitalBush/jquery.maskedinput/1.3.1/dist/jquery.maskedinput.js">JQuery MaskedInput 1.3</a> </td>
        </tr>
        <tr>
            <td> <a href="/static/bootstrap/js/jquery.min.js">jquery.min.js</a> </td>
            <td> <a href="http://www.jclark.com/xml/copying.txt">Expat</a> </td>
            <td> <a href="/static/bootstrap/js/jquery.min.js">JQuery 1.7.1</a> </td>
        </tr>
        <tr>
            <td> <a href="/static/bootstrap/js/jquery.numeric.js">jquery.numeric.js</a> </td>
            <td> <a href="http://www.jclark.com/xml/copying.txt">Expat</a> </td>
            <td> <a href="/static/bootstrap/js/jquery.numeric.js">JQuery Numeric Plugin</a> </td>
        </tr>
        <tr>
            <td> <a href="/static/js/angular.min.js">angular.min.js</a> </td>
            <td> <a href="http://www.jclark.com/xml/copying.txt">Expat</a> </td>
            <td> <a href="http://code.angularjs.org/1.1.5/angular.js">AngularJS 1.1.5</a> </td>
        </tr>
        <tr>
            <td> <a href="/static/js/validate_bitcoin.js">validate_bitcoin.js</a> </td>
            <td> <a href="http://www.jclark.com/xml/copying.txt">Expat</a> </td>
            <td> <a href="https://github.com/bitcoinjs/bitcoinjs-lib">bitcoinjs-lib</a> </td>
        </tr>
        <tr>
            <td> <a href="/static/js/jsbn.js">jsbn.js</a> </td>
            <td> <a href="http://www.freebsd.org/copyright/freebsd-license.html">BSD</a> </td>
            <td> <a href="http://www-cs-students.stanford.edu/~tjw/jsbn/">jsbn</a> </td>
        </tr>
        <tr>
            <td> <a href="/static/js/jsbn2.js">jsbn2.js</a> </td>
            <td> <a href="http://www.freebsd.org/copyright/freebsd-license.html">BSD</a> </td>
            <td> <a href="http://www-cs-students.stanford.edu/~tjw/jsbn/">jsbn</a> </td>
        </tr>
        <tr>
            <td> <a href="/static/bootstrap/js/markdown-it.min.js">showndown.js</a> </td>
            <td> <a href="http://www.freebsd.org/copyright/freebsd-license.html">BSD</a> </td>
            <td> <a href="https://github.com/showdownjs/showdown">showndown</a> </td>
        </tr>
        <tr>
            <td> <a href="/static/js-generated/fs.js">fs.js</a> </td>
            <td> <a href="http://www.gnu.org/licenses/agpl-3.0.html">GNU-AGPL-3.0-or-later</a> </td>
            <td> <a href="http://github.com/freedomsponsors/www.freedomsponsors.org">{{SITE_NAME}} on Github</a> </td>
        </tr>
        <tr>
            <td> <a href="https://piwik.funding.wiki/piwik.js">piwik.js</a> </td>
            <td> <a href="http://www.freebsd.org/copyright/freebsd-license.html ">BSD</a> </td>
            <td> <a href="https://github.com/piwik/piwik/blob/master/js/piwik.js">Piwik on Github</a> </td>
        </tr>

    </table>

    For a quick browse over all static files (javascript/css), <a href="https://gitlab.com/wikifunding/djangology-cfms/tree/master/djangoproject/statfiles/static">see them on Gitlab</a>.

{% endblock mainContent%}
