{% extends "core/base.html" %}
{% block mainContent%}

  <div class="span1"></div>
  <div class="span8">
    <h1>{{SITE_NAME}} is down for maintenance</h1>
    <p> We should be up and running again in a few minutes. Sorry for the inconvenience.</p>
  </div>
  <div class="span1"></div>


{% endblock mainContent%}
