<!DOCTYPE html>
<html lang="en">
<head>
  <title>Funding.wiki</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel= "stylesheet" href= "https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" >
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style type="text/css">
    .flex_between{
      display:flex;
      justify-content:space-between;
    }
    .flex_between_center{
      display:flex;
      justify-content:space-between;
      align-items:center;
    }
    .flex_between_bottom{
      display:flex;
      justify-content:space-between;
      align-items:flex-end;
    }
  </style>
</head>
<body style="padding:20px 20px">

<div class="">
  {% include "core2/include/newnavbar.html" %}

  {% block mainContent%}
  {% endblock mainContent%}

  <!--<div class="jumbotron">
    <h1>Bootstrap Tutorial</h1>
    <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile-first projects on the web.</p>
  </div>-->
</div>

<script type="text/javascript">

</script>

</body>
</html>
