{% extends "core2/base_old.html" %}
{% load l10n %}

{% block topright %}
{% endblock %}

{% block mainContent%}

    <script src="/static/bootstrap/js/jquery.numeric.js"></script>
    <script>
        if(!window.FS){
            window.FS = {};
        }
        FS.dependencies = [];
    </script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/angular-sanitize.min.js"></script>
    <script src="/static/js-generated/fs.js"></script>
    {% localize off %}
    <script type="text/javascript">

        function PayCtrl($scope) {
            var is_brazilian = '{{ is_brazilian }}' == 'True';
            var currency_options = {{ currency_options_json|safe }};
            var currencies = {
                USD : {
                    symbol: 'US$',
                    name: 'US dollars',
                    decimalPlaces: 2,
                    method: 'Paypal'
                },
                BRL : {
                    symbol: 'R$',
                    name: 'Real brasileiro',
                    decimalPlaces: 2,
                    method: 'Paypal'
                },
                BTC : {
                    symbol: 'BTC',
                    name: 'Bitcoin',
                    decimalPlaces: 4,
                    method: 'Bitcoin'
                }
            };
            for(var i=0; i<currency_options.length; i++){
                var currency = currency_options[i];
                currencies[currency.currency].rate = currency.rate;
            }

            var FEE_RATE = 0.03;
            var BITCOIN_FEE = 0.0002;

            $scope.getCurrencySymbol = function(currency){
                return currencies[currency].symbol;
            }

            $scope.getCurrencyRate = function(currency){
                return currencies[currency].rate;
            }

            $scope.getCurrencyName = function(currency){
                return currencies[currency].name;
            }

            $scope.currentCurrencyMethod = function(){
                return currencies[$scope.selectedCurrency].method;
            }

            $scope.offer = {
                id: {{ offer.id }},
                title: '{{ offer.issue.title }}',
                price: {{ offer.price }},
                currency: '{{ offer.currency }}'
            }

            if (is_brazilian && $scope.offer.currency == 'USD'){
                $scope.currencyThatShouldPay = 'BRL';
            } else {
                $scope.currencyThatShouldPay = $scope.offer.currency;
            }

            $scope.solutions = {{ solutions_json|safe }}

            var prefillForm = function(){
                var enabledSolutions = []
                for(var i=0; i < $scope.solutions.length; i++){
                    var solution = $scope.solutions[i];
                    var enabled = $scope.isEnabled(solution);
                    if(enabled){
                        enabledSolutions.push(solution);
                    } else {
                        solution.price = '';
                    }
                }
                var count = enabledSolutions.length;
                var convRate = currencies[$scope.selectedCurrency].rate;
                var totalPrice = parseFloat($scope.offer.price) * convRate;
                var sharedPrice = totalPrice / count;
                var decimalPlaces = currencies[$scope.selectedCurrency].decimalPlaces;
                sharedPrice = sharedPrice.toFixed(decimalPlaces);
                for(var i=0; i < enabledSolutions.length; i++){
                    var solution = enabledSolutions[i];
                    solution.price = sharedPrice;
                }
            }

            var initialize = function(){
                if($scope.offer.currency == 'USD' && is_brazilian){
                    $scope.selectedCurrency = 'BRL'
                } else {
                    $scope.selectedCurrency = $scope.offer.currency;
                }
                $scope.showCurrencyAlert = false;
                $scope.showConfirm = false;
                $scope.fsFee = '0'
                $scope.totalPayment = '0'
                prefillForm();
                if($scope.solutions.length > 1){
                    // $('#alert_multiple_solutions').modal();
                    $('#choose_who_to_pay').show()
                }
            }

            $scope.isEnabled = function(solution){
                if($scope.selectedCurrency == 'USD' || $scope.selectedCurrency == 'BRL'){
                    return solution.acceptsPaypal;
                } else if ($scope.selectedCurrency == 'BTC'){
                    return solution.acceptsBitcoin;
                }
            }

            $scope.getFormattedPrice = function(solution){
                var decimalPlaces = currencies[$scope.selectedCurrency].decimalPlaces;
                var price = parseFloat(solution.price);
                if(!isNaN(price)){
                    return price.toFixed(decimalPlaces);
                } else {
                    return '';
                }
            }

            var developer_accepted_currencies_conflict = function(){
                for(var i=0; i<$scope.solutions.length; i++){
                    var solution = $scope.solutions[i];
                    if ($scope.isEnabled(solution)){
                        return false;
                    }
                }
                return true;
            }

            $scope.onCurrencyChange = function(){
                var showCannotPayAlert = developer_accepted_currencies_conflict()
                if(showCannotPayAlert){
                    //$('#alert_cannot_pay').modal()
                    $('#alert_cannot_pay_msg').show()
                }
                var showCurrencyAlert = !showCannotPayAlert && $scope.selectedCurrency != $scope.currencyThatShouldPay
                if(showCurrencyAlert){
                    $('#alert_modal_currency').modal()
                }
                prefillForm();
            }

            $scope.getSelectedSolutions = function(){
                $scope.disablePayButton = true;
                $scope.payingUnfinished = false;
                var selectedSolutions = [];
                var totalPrice = 0;
                for(var i=0; i < $scope.solutions.length; i++){
                    var solution = $scope.solutions[i];
                    var enabled = $scope.isEnabled(solution);
                    if(enabled){
                        var price = parseFloat(solution.price);
                        var selected = !isNaN(price);
                        if(selected){
                            selectedSolutions.push(solution);
                            totalPrice += price;
                            $scope.disablePayButton = false;
                            if (solution.status != 'DONE'){
                                $scope.payingUnfinished = true;
                            }
                        }
                    }
                }
                var fee = totalPrice * FEE_RATE;
                var decimalPlaces = currencies[$scope.selectedCurrency].decimalPlaces;
                $scope.fsFee = fee.toFixed(decimalPlaces)

                var isBitcoin = $scope.selectedCurrency == 'BTC'
                if(isBitcoin){
                    var count = selectedSolutions.length;
                    $scope.f_bitcoinFee = BITCOIN_FEE * count
                } else {
                    $scope.f_bitcoinFee = 0;
                }
                $scope.bitcoinFee = $scope.f_bitcoinFee.toFixed(decimalPlaces)

                var totalPayment = totalPrice + fee + $scope.f_bitcoinFee;
                $scope.totalPayment = totalPayment.toFixed(decimalPlaces)

                return selectedSolutions;
            }

            $scope.next = function(){
                if ($scope.payingUnfinished){
                    $('#alert_paying_unfinished').modal()
                }
                $scope.showConfirm = true;
            }

            initialize();

        }

    </script>
    {% endlocalize %}


    <form method="post" action="/offer/pay/submit">
        {% csrf_token %}
        <input type="hidden" name="offer_id" value="{{ offer.id }}">
        <input type="hidden" name="count" value="{{ count }}">
        <div class="span12" ng-app="fs" ng-controller="PayCtrl">

            <div class="modal hide fade in" id="alert_modal_currency">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>Heads up: different currency</h3>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info">
                        <p>
                            You've made an offer in {[{ getCurrencyName(offer.currency) }]},
                            and now you're choosing to pay with {[{ getCurrencyName(selectedCurrency) }]}.<br>
                            {{SITE_NAME}} simply forwards payments using the same currency that you pay.
                            This means you can only pay in a currency that's accepted by the developer on the receiving side.<br>
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary" data-dismiss="modal">OK</a>
                </div>
            </div>
            <div class="modal hide fade in" id="alert_cannot_pay">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>Cannot pay in {[{ getCurrencyName(selectedCurrency) }]}</h3>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info">
                        <p>
                            The developer is not able to receive payments in {[{ getCurrencyName(selectedCurrency) }]}.<br>
                            <span ng-show="currentCurrencyMethod() == 'Bitcoin'">Please ask them to register a Bitcoin receive address.</span>
                            <span ng-show="currentCurrencyMethod() == 'Paypal'">Please ask them to register a verified Paypal account.</span>
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary" data-dismiss="modal">OK</a>
                </div>
            </div>
            <div class="modal hide fade in" id="alert_paying_unfinished">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3 id="offerDataFormModal_title">You're paying an unfinished solution</h3>
                </div>
                <div class="modal-body">
                    <p>You are about to pay a developer that still have not finished this issue. </p>
                    <p>Payments are made directly to developers, therefore they are non-refundable. Read <a target="_blog" href="http://blog.freedomsponsors.org/new-rule-now-you-can-pay-for-unfinished-issues/">this blog post</a> to learn more. </p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary" data-dismiss="modal">OK, I understand</a>
                </div>
            </div>
            <div class="modal hide fade in" id="alert_multiple_solutions">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>Choose who to pay</h3>
                </div>
                <div class="modal-body">
                    <p>{[{ solutions.length }]} developers are accepting payments for this issue.</p>
                    <p>You need to select who gets what.</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary" data-dismiss="modal">OK, I understand</a>
                </div>
            </div>


            <h3>
                Pay up offer: {[{ getCurrencySymbol(offer.currency) }]} {[{ offer.price }]} - {[{ offer.title }]}
            </h3>

            <div id="choose_who_to_pay" style="padding-top:20px;display:none">
                <div class="alert alert-info">
                    <h3>Choose who to pay!</h3> {[{ solutions.length }]} developers are accepting payments for this issue. You need to select who gets what.
                </div>
            </div>


            <div class="row-fluid" style="margin-top: 10px;">
                <div class="span6" >
                    <div style="border-width: 1px; border-style: solid; border-radius: 5px; padding: 10px; border-color: #ccc;">
                        <div class="row-fluid">
                            <div class="span6" style="text-align: right; font-weight: bold; margin-top: 5px">
                                Select currency to pay
                            </div>
                            <div class="span6">
                                <select name="currency" ng-model="selectedCurrency" ng-change="onCurrencyChange()">
                                    {% for currency in currency_options %}
                                        <option value="{{ currency.currency }}">{{ currency.selectLabel }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div id="alert_cannot_pay_msg" style="padding-top:20px;display:none">
                            <div class="alert alert-warning">
                                <h3>Cannot pay in {[{ getCurrencyName(selectedCurrency) }]}</h3>
                                <div>
                                    <p>
                                        The developer is not able to receive payments in {[{ getCurrencyName(selectedCurrency) }]}.<br>
                                        <span ng-show="currentCurrencyMethod() == 'Bitcoin'">Please ask them to register a Bitcoin receive address.</span>
                                        <span ng-show="currentCurrencyMethod() == 'Paypal'">Please ask them to register a verified Paypal account.</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div id="divCurrencyAlert" class="alert alert-info" ng-show="selectedCurrency != offer.currency">
                            <p>Suggested conversion rate: <span style="font-weight: bold">{[{ offer.currency }]} 1.0 = {[{ getCurrencySymbol(selectedCurrency) }]} {[{ getCurrencyRate(selectedCurrency) }]}</span>
                        </div>
                        <hr>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Worker</th>
                                <th>Accepted methods</th>
                                <th>Amount ({[{ getCurrencySymbol(selectedCurrency) }]})</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="solution in solutions">
                                    <td>
                                        <img ng-src="{[{ solution.imglink }]}">
                                        {[{ solution.programmerUsername }]}
                                    </td>
                                    <td>
                                        <img ng-show="{[{ solution.acceptsPaypal }]}" src="/static/img/paypal_icon_32.png" class="popopo" rel="popover" data-content="{{SITE_NAME}} has verified that this user is able to receive payments via Paypal" data-original-title="Paypal verified">
                                        <img ng-show="{[{ solution.acceptsBitcoin }]}" src="/static/img/bitcoin_icon_32.png" class="popopo" rel="popover" data-content="This user may receive payments in Bitcoin" data-original-title="Accepts Bitcoin">
                                        <img ng-show="{[{ !solution.acceptsBitcoin && !solution.acceptsPaypal }]}" src="/static/img/nopayment.png" class="popopo" rel="popover" data-content="This user is unable to receive payments of any sort because no Paypal account or Bitcoin receive address is available." data-original-title="No payment method available">
                                    </td>
                                    <td>
                                        <input type="hidden" name="solutionId_{[{ $index }]}" value="{[{ solution.id }]}">
                                        <input type="text" style="width: 100px;" name="pay_{[{ $index }]}" ng-disabled="!isEnabled(solution)" ng-model="solution.price">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="text-align:right; margin: 10px 0px;">
                        <button class="btn btn-primary" type="button" ng-click="next()">Next &gt;</button>
                    </div>
                </div>
                <div class="span6" data-ng-animate="'fade'" ng-show="showConfirm">
                    <div style="border-width: 1px; border-style: solid; border-radius: 5px; padding: 10px; ; border-color: #ccc;">
                        <span style="font-weight:bold;">Confirm payment details</span>
                        <hr>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Description</th>
                                    <th style="text-align: right">Amount ({[{ getCurrencySymbol(selectedCurrency) }]})</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="solution in getSelectedSolutions()">
                                    <td>
                                        <img ng-src="{[{ solution.imglink }]}">
                                        {[{ solution.programmerScreenName }]}
                                    </td>
                                    <td style="text-align:right">{[{ getFormattedPrice(solution) }]}</td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;">
                                        <img src="/static/img/FS_logo_32x32.png">
                                        {{SITE_NAME}}
                                    </td>
                                    <td style="text-align:right">{[{ fsFee }]}</td>
                                </tr>
                                <tr ng-show="f_bitcoinFee > 0">
                                    <td style="vertical-align: middle;">
                                        <img src="/static/img/bitcoin_icon_32.png">
                                        Bitcoin miners' fee
                                    </td>
                                    <td style="text-align:right">{[{ bitcoinFee }]}</td>
                                </tr>
                                <tr style="font-weight: bold;">
                                    <td>Total</td>
                                    <td style="text-align:right">{[{ totalPayment }]}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div style="text-align:right; margin: 10px 0px;">
                        <input type="submit" class="btn btn-primary" type="button" ng-disabled="disablePayButton" value="Proceed to payment with {[{ currentCurrencyMethod() }]}">
                    </div>
                </div>
            </div>
        </div>
    </form>


{% endblock mainContent%}