{% extends "core2/base_old.html" %}

{% block mainContent%}

  <div>
    <h2> {{SITE_NAME}} is <span style="color:#08C">{{stats.age}}</span> old</h2>
  </div>
  <br><br>
  <div>
    <h2> <span style="color:#08C">{{stats.user_count}}</span> users have registered so far</h2>
    of which <span style="color:#08C">{{stats.sponsor_count}}</span> have sponsored, <span style="color:#08C">{{stats.programmer_count}}</span> have worked on issues, and <span style="color:#08C">{{stats.paid_programmer_count}}</span> have received payments.
  </div>
  <br><br>
  <div>
    <h2> There are <span style="color:#08C">{{stats.offer_count}}</span> offers spread across <span style="color:#08C">{{stats.issue_count}}</span> issues and <span style="color:#08C">{{stats.issue_project_count}}</span> projects</h2>
    <span style="color:#08C">{{stats.open_offer_count}}</span> of those offers are open, <span style="color:#08C">{{stats.revoked_offer_count}}</span> are revoked and <span style="color:#08C">{{stats.paid_offer_count}}</span> are paid.<br>
    <span style="color:#08C">{{stats.issue_count_sponsoring}}</span> of those issues are being sponsored, and <span style="color:#08C">{{stats.issue_count_kickstarting}}</span> are still in <a href="http://blog.freedomsponsors.org/kickstarting-issues/">"proposing mode"</a>.
  </div>
  <br><br>
  <div>
    <h2> Open offers amount to <span style="color:#08C">US$ {{stats.open_sum_usd|floatformat:2}}</span> + <span style="color:#08C" title="{{stats.open_sum_btc|floatformat:4}} BTC = US$ {{stats.open_sum_btc_in_usd|floatformat:2}}"> BTC {{stats.open_sum_btc|floatformat:4}}*</span></h2>
    And paid offers..... <span style="color:#08C">US$ {{stats.paid_sum_usd|floatformat:2}}</span> + <span style="color:#08C" title="{{stats.paid_sum_btc|floatformat:4}} BTC = US$ {{stats.paid_sum_btc_in_usd|floatformat:2}}">BTC {{stats.paid_sum_btc|floatformat:4}}* </span><br>
    Revoked offers..... <span style="color:#08C">US$ {{stats.revoked_sum_usd|floatformat:2}}</span> + <span style="color:#08C" title="{{stats.revoked_sum_btc|floatformat:4}} BTC = US$ {{stats.revoked_sum_btc_in_usd|floatformat:2}}">BTC {{stats.revoked_sum_btc|floatformat:4}}*</span><br>
    Expired offers....... <span style="color:#08C">US$ {{stats.expired_sum_usd|floatformat:2}}</span> + <span style="color:#08C" title="{{stats.expired_sum_btc|floatformat:4}} BTC = US$ {{stats.expired_sum_btc_in_usd|floatformat:2}}">BTC {{stats.expired_sum_btc|floatformat:4}}*</span>
  </div>
  <br><br>

  <div>
    <h2> Here's how the offers are distributed among projects </h2>
    <table class="table table-striped table-condensed" style="max-width: 460px">
      <tr>
        <th style="text-align:left">Project</th>
        <th style="text-align:right">Issues</th>
        <th style="text-align:right">Offers</th>
        <th style="text-align:right; min-width: 150px">Total offered
        <i class="icon-question-sign popopo" rel="popover" data-content="Green means paid. Orange means open." data-original-title="Colors meaning"></i>
        </th>
      </tr>
      {% for project in stats.projects %}
      <tr>
        <td><a href="/project/{{project.0}}/{{ project.1|slugify }}">{{project.1}}</a></td>
        <td style="text-align:right">{{project.2}}</td>
        <td style="text-align:right">{{project.3}}</td>
        <td style="text-align:right">
          <div>
          {% include 'core2/include/green_and_orange.html' with currency="US$" places=2 vOrange=project.5 vGreen=project.4 %}
          </div>
          <div>
          {% include 'core2/include/green_and_orange.html' with currency="BTC" places=4 vOrange=project.7 vGreen=project.6 %}
          </div>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <br><br>

  <div>
    <h2> And here's a list of our top sponsors </h2>
    <table class="table table-striped table-condensed" style="max-width: 460px">
      <tr>
        <th style="text-align:left">Sponsor</th>
        <th style="text-align:right">Offers</th>
        <th style="text-align:right; min-width: 150px;">Total offered
        <i class="icon-question-sign popopo" rel="popover" data-content="Green means paid. Orange means open." data-original-title="Colors meaning"></i>
      </th>
      </tr>
      {% for sponsor in stats.sponsors %}
      <tr>
        <td><a href="/user/{{ sponsor.1 }}">{{sponsor.1}}</td>
        <td>{{sponsor.2}}</td>
        <td style="text-align:right">
          <div>
          {% include 'core2/include/green_and_orange.html' with currency="US$" places=2 vOrange=sponsor.4 vGreen=sponsor.3 %}
          </div>
          <div>
          {% include 'core2/include/green_and_orange.html' with currency="BTC" places=4 vOrange=sponsor.6 vGreen=sponsor.5 %}
          </div>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <br><br>
  <div>
    Want to see more stats? Drop us some <a href="{% url 'feedback' %}">feedback</a>.
  </div>

{% endblock mainContent%}
