{% extends "core2/base_old.html" %}

{% block title %}
    User {{le_user.username}}
{% endblock %}


{% block mainContent%}
<style type="text/css">
	.section_title{
		padding-bottom:20px
	}
</style>
<h3>{{le_user.username}}</h3>
<hr>

<div class="row-fluid">
	<div class="span2">
	  	<img src="{{le_user.gravatar_url_big}}"/><br>
	  	Since {{le_user.date_joined|date:"N j, o"}}<br>
        {% if le_user.getUserInfo.paypal_verified %}
	  	<div style="margin-top: 10px">
	  		<img src="/static/img/paypal_icon_32.png">
	  		Paypal Verified
	  	</div>
        {% endif %}
        {% if le_user.getUserInfo.bitcoin_receive_address %}
	  	<div style="margin-top: 10px">
	  		<img src="/static/img/bitcoin_icon_32.png">
	  		Accepts Bitcoin
	  	</div>
        {% endif %}
	</div>

	<div class="span8">
		<div class="row-fluid">
			<div class="span6">
				<table>
				{% if le_user.id == user.id %}
					<tr>
						<td>Username:</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>{{le_user.username}}</td>
					</tr>
				{% endif %}
					<tr>
						<td>Username:</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>{{le_user.username}}</td>
					</tr>
					<tr>
						<td>Real name:</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>{{le_user.getUserInfo.realName}}</td>
					</tr>
					{% if le_user.getUserInfo.website %}
					<tr>
						<td>website</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td><a target="_userwebsite" href="{{le_user.getUserInfo.get_website_url}}">{{le_user.getUserInfo.get_website_short}}</td>
					</tr>
					{% endif %}
					{% if user.is_superuser %}
                        {% if not le_user.is_active %}
                        <tr>
                            <td>INACTIVE!!!</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        {% endif %}
					<tr>
						<td>email</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>{{le_user.email}}</td>
					</tr>
					<tr>
						<td>Paypal email</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>{{le_user.getUserInfo.paypalEmail}}</td>
					</tr>
					<tr>
						<td>Bitcoin Address</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>{{le_user.getUserInfo.bitcoin_receive_address}}</td>
					</tr>
					<tr>
						<td>user_id</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>{{le_user.id}}</td>
					</tr>
					<tr>
						<td>userinfo_id</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>{{le_user.getUserInfo.id}}</td>
					</tr>
					<tr>
						<td>reputation</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>{{le_user.getUserInfo.reputation}}</td>
					</tr>
					{% endif %}
				</table>

				<br><br>
				<div class="well">
					<h4>User stats</h4>
					<table class="table table-condensed table-striped">
						<caption> sponsoring </caption>
						<tr>
							<th>open</th><th>revoked</th><th>paid</th>
						</tr>
						<tr>
							<td>
								{{stats.sponsoredOpenCount}}
								{% if stats.sponsoredOpenCount %}
							 		/ US$ {{stats.sponsoredOpenPriceUSD|floatformat:2}} + <span title="BTC {{stats.sponsoredOpenPriceBTC|floatformat:4}} = US$ {{stats.sponsoredOpenPriceBTC_inUSD|floatformat:2}}">BTC {{stats.sponsoredOpenPriceBTC|floatformat:4}}*</span>
							 	{% endif %}
							</td>
							<td>
								{{stats.sponsoredRevokedCount}}
								{% if stats.sponsoredRevokedCount %}
									/ US$ {{stats.sponsoredRevokedPriceUSD|floatformat:2}} + <span title="BTC {{stats.sponsoredRevokedPriceBTC|floatformat:4}} = US$ {{stats.sponsoredRevokedPriceBTC_inUSD|floatformat:2}}">BTC {{stats.sponsoredRevokedPriceBTC|floatformat:4}}*</span>
								{% endif %}
							</td>
							<td>
								{{stats.sponsoredPaidCount}}
								{% if stats.sponsoredPaidCount %}
									/ US$ {{stats.sponsoredPaidPriceUSD|floatformat:2}} + <span title="BTC {{stats.sponsoredPaidPriceBTC|floatformat:4}} = US$ {{stats.sponsoredPaidPriceBTC_inUSD|floatformat:2}}">BTC {{stats.sponsoredPaidPriceBTC|floatformat:4}}*</span>
								{% endif %}
							</td>
						</tr>
					</table>
					<table class="table table-condensed table-striped">
						<caption> working </caption>
						<tr>
							<th>in progress</th><th>aborted</th><th>resolved</th>
						</tr>
						<tr>
							<td>{{stats.workingInProgressCount}}</td>
							<td>{{stats.workingAbortedCount}}</td>
							<td>{{stats.workingDoneCount}}</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="span6">
				About {{le_user.username}}
				<div class="alert alert-info">
				    {% load markdown %}
				    {% autoescape off %}
					<markdown-text text="{{ le_user.getUserInfo.about }}"></markdown-text>
				    {% endautoescape %}
				</div>
				<div class="row-fluid">
					<div class="span12">
						<div>
							connected accounts
						</div>
						{% for auth in le_user.getSocialAuths %}
						{% if auth.getSocialIcon %}
							{% if auth.getSocialProfileLink %}
							<div class="span1" style="border:1px solid #DDD; height:60px; width:110px; margin:3px; text-align:center; display:block"><a style="margin-top:18px; display:block" href="{{auth.getSocialProfileLink}}" target="_{{auth.provider}}"><img src="{{auth.getSocialIcon}}"></a></div>
							{% else %}
							<div class="span1" style="border:1px solid #DDD; height:60px; width:110px; margin:3px; text-align:center; display:block"><span style="margin-top:18px; display:block"><img src="{{auth.getSocialIcon}}"></span></div>
							{% endif %}
						{% endif %}
						{% endfor %}
					</div>
				</div>
				{% if le_user.id == user.id %}
				<div class="row-fluid">
					<div class="span12">
						<div>
							Connect accounts
						</div>
						<div class="row-fluid">
							<div class="span12">
								{% for acc in unconnectedSocialAccounts %}
								<div class="span1" style="border:1px solid #DDD; height:60px; width:110px; margin:3px; text-align:center; display:block"><a style="margin-top:18px; display:block" href="/login/{{acc.provider}}?next={{user.get_view_link}}"><img src="{{acc.icon}}"></a></div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>

</div>
<a name="user_role"></a>
<div>
	{% include 'core2/include/user_roles.html' %}
</div>

{% if page_section == 'entrepreneur' %}
	{% if le_user.getKickstartingIssues %}
	  <hr>
	  <a name="entrepreneur"></a>
	  <h3 class="section_title">Proposed issues</h3>
	  {% include 'core2/include/issue_grid.html' %}
	{% endif %}
{% elif page_section == 'proponent' %}
	{% if le_user.getTechSolutions %}
	  <hr>
	  <a name="proponent"></a>
	  <h3 class="section_title">Proposed solutions</h3>
	  {% include 'core2/include/proposed_solutions.html' %}
	{% endif %}
{% elif page_section == 'sponsor' %}
	{% if le_user.getOffers %}
	  <hr>
	  <a name="sponsor"></a>
	  <h3 class="section_title">Sponsoring issues</h3>
	  {% include 'core2/include/offer_grid.html' %}
	{% endif %}
{% elif page_section == 'communicator' %}
	{% if le_user.getOffers %}
	  <hr>
	  <a name="communicator"></a>
	  <h3 class="section_title">Media uploaded</h3>
	  {% include 'core2/include/media_uploaded.html' %}
	{% endif %}
{% elif page_section == 'developer' %}
	{% if le_user.getSolutions %}
	  <hr>
	  <a name="developer"></a>
	  <h3 class="section_title">Working on issues</h3>
	  {% include 'core2/include/solution_grid.html' %}
	{% endif %}
{%endif%}

{% endblock mainContent%}
