{% with showOffers=showOffers|default:"true" showWorking=showWorking|default:"true" showProject=showProject|default:"true" showKey=showKey|default:"true" showCreatedBy=showCreatedBy|default:"true" %}

<script>
    function IssueGridCtrl($scope, SortHeaderModel){
        var sortby = $('#sortby').val();
        var asc = $('#asc').val() != 'False';
        SortHeaderModel.init(sortby, asc);
        SortHeaderModel.onchange = function(property, asc){
            $('#sortby').val(property);
            $('#asc').val(asc ? 'True' : 'False');
            $('#search_form').submit();
        }
    }
</script>

{% load pagination %}
<table class="table table-striped table-condensed"
       ng-controller="IssueGridCtrl">
  <thead>
    <tr>
      {% ifequal showProject "true" %}
      <th>{% if sortable %}<sort-header label="Project" property="project"></sort-header>{% else %}Project{% endif %}</th>
      {% endifequal %}

      {% ifequal showKey "true" %}
      <th>{% if sortable %}<sort-header label="Key" property="key"></sort-header>{% else %}Key{% endif %}</th>
      {% endifequal %}

      {% ifequal showCreatedBy "true" %}
      <th>{% if sortable %}<sort-header label="Created by" property="createdby"></sort-header>{% else %}Created by{% endif %}</th>
      {% endifequal %}

      <th>{% if sortable %}<sort-header label="Tags" property="tags">Tags</sort-header>{% else %}Tags{% endif %}</th>

      <th>{% if sortable %}<sort-header label="Title" property="title"></sort-header>{% else %}Title{% endif %}</th>

      {% ifequal showOffers "true" %}
      <th>{% if sortable %}<sort-header label="Offers" property="offers"></sort-header>{% else %}Offers{% endif %}
          <i class="icon-question-sign popopo" rel="popover" data-content="Green means paid. Orange means open." data-original-title="Colors meaning"></i></th>
      {% endifequal %}

      {% ifequal showWorking "true" %}
      <th>{% if sortable %}<sort-header label="Workers" property="solutions"></sort-header>{% else %}Workers{% endif %}
          <i class="icon-question-sign popopo" rel="popover" data-content="Green means DONE. Orange means IN PROGRESS." data-original-title="Colors meaning"></i></th>
      {% endifequal %}

      <th>{% if sortable %}<sort-header label="Created" property="created"></sort-header>{% else %}Created{% endif %}</th>
      <th>{% if sortable %}<sort-header label="Language" property="language"></sort-header>{% else %}Language{% endif %}</th>
    </tr>
  </thead>
  <tbody>
{% for issue in issues %}
    <tr>

      {% ifequal showProject "true" %}
      <td ><a href="{{ issue.project.get_view_link }}">{{ issue.project.name }}</a></td>
      {% endifequal %}

      {% ifequal showKey "true" %}
      <td><a href="{{ issue.get_view_link }}">{{ issue.key }}</a></td>
      {% endifequal %}

      {% ifequal showCreatedBy "true" %}
      <td><a href="{{ issue.createdByUser.get_view_link }}">{{ issue.createdByUser.username }}</a></td>
      {% endifequal %}

      <td>
        {% for tag in issue.tags.all %}
          <a href="{% url 'issues_by_tag' tag.slug %}"><span class="label label-info">{{ tag.name }}</span></a>
        {% endfor %}
      </td>

      <td>
        <a href="{{issue.get_view_link}}">{{issue.title}}</a>
      </td>

      {% ifequal showOffers "true" %}
      <td style="width:140px">
        <div>
        {% include 'core2/include/green_and_orange.html' with vOrange=issue.total_open_offers_usd vGreen=issue.total_paid_offers_usd currency='US$' places=2 %}
        </div>
        <div>
        {% include 'core2/include/green_and_orange.html' with vOrange=issue.total_open_offers_btc vGreen=issue.total_paid_offers_btc currency='BTC' places=4 %}
        </div>
      </td>
      {% endifequal %}

      {% ifequal showWorking "true" %}
      <td>
        {% include 'core2/include/green_and_orange.html' with vOrange=issue.count_solutions_in_progress vGreen=issue.count_solutions_done %}
      </td>
      {% endifequal %}

      <td><span title="{{ issue.creationDate }}">{{ issue.creationDate|date:"D, d/M/Y" }}</span></td>
      <td><span title="{{ issue.language }}">{{ issue.language }}</span></td>
    </tr>
{% endfor %}
  </tbody>
</table>
<div class="pagination pagination-right">
  {% pagination issues %}
</div>

{% endwith %}