{% load i18n %}
{% load l10n %}
{% load pagination %}
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Project</th>
      <th>Key</th>
      <th>Title</th>
      <th>Offer</th>
      <th>Status</th>
      <th>Added</th>
      <th>Expires</th>
    </tr>
  </thead>
  <tbody>
{% for offer in datalist %}
    <tr>
      <td class="fav-td fav-{{ offer.issue.project.name|slugify }}"><a href="{{ offer.issue.project.get_view_link }}">{{ offer.issue.project.name }}</a></td>
      <td><a href="{{ offer.issue.get_view_link }}">{{ offer.issue.key }}</a></td>
      <td><a href="{{ offer.issue.get_view_link }}">{{ offer.issue.title }}</a></td>
      <td><a href="{{ offer.issue.get_view_link }}">{{offer.get_currency_symbol}} {{offer.price_formatted}}</a></td>
      <td>{% if offer.is_expired %}{% trans "EXPIRED" %}{% else %}{{offer.status}}{% endif %}</td>
      <td><span title="{{ offer.creationDate }}">{{ offer.creationDate|date:"M/d/Y" }}</span></td>
      <td><span title="{{ offer.expirationDate }}">{{ offer.expirationDate|date:"M/d/Y" }}</span></td>
    </tr>
    {% for payment in offer.get_payments %}
        {% for part in payment.getParts %}
            <tr>
                <td colspan="3"> </td>
                <td colspan="2"><a href="{{part.programmer.get_view_link}}"><img src="{{part.programmer.gravatar_url_small}}"> {{ part.programmer.username }}</a></td>
                <td colspan="2"><span style="color:#030"><strong>{{ payment.get_currency_symbol }} {{ part.price_formatted }}</strong></span></td>
            </tr>
        {% endfor %}
    {% endfor %}
{% endfor %}
  </tbody>
</table>

<div class="pagination pagination-right">
  {% pagination datalist %}
</div>
