{% with showOffers=showOffers|default:"true" showWorking=showWorking|default:"true" showProject=showProject|default:"true" showKey=showKey|default:"true" showCreatedBy=showCreatedBy|default:"true" %}

<script>
    function IssueGridCtrl($scope, SortHeaderModel){
        var sortby = $('#sortby').val();
        var asc = $('#asc').val() != 'False';
        SortHeaderModel.init(sortby, asc);
        SortHeaderModel.onchange = function(property, asc){
            $('#sortby').val(property);
            $('#asc').val(asc ? 'True' : 'False');
            $('#search_form').submit();
        }
    }
</script>
{% load pagination %}
<table class="table table-striped table-condensed"
       ng-controller="IssueGridCtrl">
  <thead>
    <tr>
      <th>Title</th>
      <th>Issue</th>
      <th>Created at</th>
      <th>Points</th>
      <th>Language</th>
    </tr>
  </thead>
  <tbody>
{% for solution in datalist %}
    <tr>
      <td >{{ solution.title }}</td>
      <td ><a href="{{solution.issue.get_view_link}}">{{ solution.issue.title }}</a></td>
      <td >{{ solution.creationDate }}</td>
      <td >{{ solution.points }}</td>
      <td >{{ solution.language }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
<div class="pagination pagination-right">
  {% pagination datalist %}
</div>

{% endwith %}