------------- notice ------------- <br/>
You received this email from {{SITE_NAME}} based on your mail notification settings.<br>
You can select which emails you want to receive by <a href="{{SITE_HOME}}{% url 'editUserForm' %}">editing your profile</a>.