<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 </head>
  <body style="color: #333;font-size:13px;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;margin-bottom: 0px;margin-left: 20px;margin-right: 0px;margin-top: 0px;padding-bottom: 40px;padding-top: 60px;">
    <div style="padding-left: 120px;padding-right: 20px;">
  {% block mainContent %}
    <p> put some content here </p>
  {% endblock %}
    </div><!--/.fluid-container-->
    <br>
  <hr style="background-color: transparent;border-bottom-color: white;border-bottom-style: solid;border-bottom-width: 1px;border-left-style: none;border-left-width: 0px;border-right-style: none;border-right-width: 0px;border-top-color: #EEE;border-top-style: solid;border-top-width: 1px;height: 0px;line-height: 18px;margin-bottom: 18px;margin-left: 0px;margin-right: 0px;margin-top: 18px;">
  <footer>
    <p>© {{SITE_NAME}} 2012</p>
  </footer>
</body></html>