{% extends "email/base.html" %}
{% block mainContent%}
    Hello {{ you.username }}<br>

    We have received you BTC {{ payment.total_bitcoin_received }} payment, and we've forwarded it to the programmer.<br>
    Outgoing transaction details<br><br>
    <table border="1" cellspacing="0" cellpadding="3">
        <tr>
            <th>Programmer</th>
            <th>Value (BTC)</th>
            <th>Transaction hash</th>
        </tr>
        {% for part in parts %}
        <tr>
            <td>{{ part.solution.programmer.username }}</td>
            <td>{{ part.money_sent.value }}</td>
            <td>{{ part.money_sent.transaction_hash }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    We are waiting until the transaction(s) above reach 3 confirmations.<br>
    As soon as that happens, your payment will be complete (we'll send you another email then).<br>
    <br>
    Thank you for using {{SITE_NAME}}.


{% endblock mainContent%}

