{% extends "email/base.html" %}
{% block mainContent%}

    <p>Hello {{ you.username }}, your account has been deactivated.</p>
    <p>Thank you for using {{SITE_NAME}}.</p>
    <p>If you ever want to come back, just <a href="mailto:tony@freedomsponsors.org">let us know</a> - we can
        still manually reactivate your account for you.</p>
    <p></p>
    <p>
    Sincerely<br>
    The {{SITE_NAME}} team.
    </p>

{% endblock mainContent%}
