{% extends "email/base.html" %}
{% block mainContent%}
Hello {{ part.programmer.username }}<br>
<a href="{{SITE_HOME}}{{ payment.offer.sponsor.get_view_link }}" style="color: #08C;text-decoration: none;cursor: auto;">
  {{ payment.offer.sponsor.username }}</a> has just made you a {{part.get_full_value}} payment for this issue that you resolved.<br><br>
This is the issue:
<div style="background-color: #D9EDF7;border-bottom-color: #BCE8F1;border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;border-bottom-style: solid;border-bottom-width: 1px;border-left-color: #BCE8F1;border-left-style: solid;border-left-width: 1px;border-right-color: #BCE8F1;border-right-style: solid;border-right-width: 1px;border-top-color: #BCE8F1;border-top-left-radius: 4px;border-top-right-radius: 4px;border-top-style: solid;border-top-width: 1px;color: #3A87AD;line-height: 18px;margin-bottom: 18px;margin-left: 0px;margin-right: 0px;margin-top: 0px;padding-bottom: 8px;padding-left: 14px;padding-right: 35px;padding-top: 8px;">
  <a href="{{SITE_HOME}}{{ payment.offer.issue.get_view_link }}" style="color: #08C;text-decoration: none;cursor: auto;">
    {{ payment.offer.issue.title }}</a>
</div>

{% ifequal payment.currency 'BTC' %}
<div>
    Bitcoin transaction hash: {{part.money_sent.transaction_hash}}
</div>
{% endifequal %}

Thank you for using {{SITE_NAME}}.<br>
We will let you know if there are any updates.
{% endblock mainContent%}
