{% extends "email/base.html" %}
{% block mainContent%}
Hello {{ payment.offer.sponsor.username }}<br>
Your {{payment.get_full_value_with_fee}} payment has been processed.<br><br>

This payment is regarding issue:<br>

<a href="{{SITE_HOME}}{{ payment.offer.issue.get_view_link }}" style="color: #08C;text-decoration: none;cursor: auto;">{{payment.offer.issue.title}}</a><br><br>

{% ifequal payment.currency 'BTC' %}
	{% if payment.bitcoin_transaction_hash %}
		<div>
	    	Your bitcoin payment transaction hash: {{payment.bitcoin_transaction_hash}}
		</div>
    {% endif %}
    Programmer(s) payment(s) bitcoin details<br>
    <table>
    	<tr>
    		<th>programmer</th>
    		<th>transaction hash</th>
    	</tr>
    	{% for part in payment.paymentpart_set.all %}
    	<tr>
    		<td>{{ part.solution.programmer.username }}</td>
    		<td>{{ part.money_sent.transaction_hash }}</td>
    	</tr>
    	{% endfor%}
    </table>
{% endifequal %}

Thank you for using {{SITE_NAME}}.<br>
We will let you know if there are any updates.
{% endblock mainContent%}
