{% extends "email/base.html" %}
{% block mainContent%}

    Hello {{ you.username }}, welcome to <a href="http://www.funding.wiki/">{{SITE_NAME}}</a><br>
<br>
    Thank you for believing in the {{SITE_NAME}} idea. Let's build Free Knowledge together! :-) <br>
<br>
    Please take a few minutes to take a look at the <a href="http://www.funding.wiki/faq/">the FAQ</a>. <br>

{% endblock mainContent%}
