<div class="footer">
    <div class="footer-left-section">
    </div>
    <div class="footer-midle-section">
        <a href="" class="footer-link">Blog</a>
        <a href="" class="footer-link">Developers</a>
        <a href="" class="footer-link">Integration</a>
        <a href="" class="footer-link">Contact</a>
        <span class="right">{{SITE_NAME}}, Copyright © 2019</span>
    </div>
    <div class="footer-right-section">
    </div>
</div>
