{% extends "core2/base_old.html" %}


{% block mainContent%}
{% if user.is_authenticated %}
	<h3>Connect account</h3>
	<hr>
	<div>
		Select account to connect
	</div>
{% else %}
	<h3>User registration / login</h3>
	<hr>
	<h4>First time on {{SITE_NAME}}?</h4> 
	<a href="http://blog.freedomsponsors.org/about" target="_about">Understand what this is about.</a><br><br>

	<div class="alert">
		You need to login or register before you can sponsor and/or work on issues.<br>
		<h3>Existing user, heads up!</h3>
		If you already registered with GMail and want to connect your github or facebook account, please do it from your profile page, <strong>after</strong> you're logged in.<br>
		(Otherwise, you'll create a second account on FS)
	</div>
	<div>
		External login services use <a href="http://openid.net/" target="_openid">OpenID</a> and <a href="http://oauth.net/">OAuth</a> technology, where your password always stays confidential between you and your login provider and you don't have to remember another one.<br>
		Select your provider below.
	</div>
{% endif %}
<br>
<div class="row">
    <div class="span1"></div>
    {% include 'core2/include/openid_login.html' with provider="google-openidconnect" image="google.gif" %}
    {% include 'core2/include/openid_login.html' with provider="github" image="github.png" %}
    {% include 'core2/include/openid_login.html' with provider="bitbucket" image="bitbucket.jpg" %}
    {% include 'core2/include/openid_login.html' with provider="facebook" image="facebook.gif" %}
    {% include 'core2/include/openid_login.html' with provider="twitter" image="twitter.png" %}
    {% include 'core2/include/openid_login.html' with provider="yahoo" image="yahoo.gif" %}
</div>
<hr>
<h3>Or...</h3>
<div class="row">
	<div class="span1"></div>
	<div class="span10">
		<form class="form-inline" action="/login/openid/" method="post">
		{% csrf_token %}
		  <div>
		    <label for="openid_identifier">Enter your OpenId Url</label>
		    <input id="openid_identifier" type="text" value="" name="openid_identifier">
		    <input type="submit" id="submit_login_custom_openid" value="Login">
		  </div>
		</form>
	</div>
</div>
<h3>Or...</h3>
<div class="row">
    <div class="span1"></div>
    <div class="span10">
        <form class="form-inline" action="/login/?next=/" method="post">
            {{ form.non_field_errors }}
            {% csrf_token %}
            <div>
                <label for="id_username">Use you plain old</label>
                <input id="id_username" style="width:100px" type="text" placeholder="username" name="username" maxlength="30" />
                <label for="id_password">and</label>
                <input type="password" style="width:100px" name="password" placeholder="password" id="id_password" />
                <input type="submit" id="submit_login_plain" value="Login">
                (Sign up <a href="/accounts/register">here</a>, Forgot password <a href="/accounts/password/reset">here</a>)
            </div>
        </form>
    </div>
</div>

{% endblock mainContent %}
